name: Tag On Merge

on:
  push:
    branches:
      - master
      - main

jobs:
  tag:
    name: Add tag
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ["14"]
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: true
          fetch-depth: 0
      - name: Set Git User
        run: |
          git config --add user.name "Adam Weeden (Automation)"
          git config --add user.email "adam.weeden@encoura.org"
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: |
            ~/.npm
            **/node_modules
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-test-
            ${{ runner.os }}-
      - run: npm i
      - run: npm run test
      - run: npm run update:version
      - name: Install JQ JSON Parser
        run: sudo apt update && sudo apt install jq -y
      - name: Extract version
        run: echo "PACKAGE_VERSION=$(jq -r '.version' package.json)" >> $GITHUB_ENV
      - uses: marvinpinto/action-automatic-releases@v1.2.1
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          automatic_release_tag: ${{ env.PACKAGE_VERSION }}
          prerelease: false
          title: ${{ env.PACKAGE_VERSION }}
      - name: Push changes
        env:
          RELEASE_TOKEN: ${{ secrets.RELEASE_TOKEN }}
        run: |
          git remote set-url origin https://$RELEASE_TOKEN@github.com/$GITHUB_REPOSITORY.git > /dev/null 2>&1
          git push origin ${{ github.ref }}
      - name: Slack Notify
        uses: rtCamp/action-slack-notify@v2.2.0
        env:
          SLACK_TITLE: A new release of @encoura/eslint-config has been created. New version is ${{ env.PACKAGE_VERSION }}
          SLACK_USERNAME: GitHub Rlease Bot
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_ICON: https://github.githubassets.com/pinned-octocat.svg
