name: Pull Request Validation
on:
  workflow_dispatch:
  pull_request:
  merge_group:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      issues: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22
      - name: Install dependencies
        run: npm ci --ignore-scripts
      - name: Test
        run: npm test
